<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--  当前包下的所有bean组件都扫描-->
  <context:component-scan base-package="edu.zjgs"/>
<!--  <context:component-scan base-package="edu.zjgs.dao"/>-->
<!--  <context:component-scan base-package="edu.zjgs.service"/>-->
<!--  <context:component-scan base-package="edu.zjgs.controller"/>-->
  <context:property-placeholder location="classpath:jdbc.properties"/>

<!--  第三方类依旧需要进行配置-->
  <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
    <property name="url" value="${edu.url}"/>
    <property name="driverClassName" value="${edu.driver}"/>
    <property name="username" value="${edu.username}"/>
    <property name="password" value="${edu.password}"/>
   </bean>
  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <property name="dataSource" ref="dataSource"/>
  </bean>
</beans>