<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
  <!-- 配置自动扫描的包 -->
  <!-- 1.包要精准,提高性能!
       2.会扫描指定的包和子包内容   base-package指定ioc容器去那些包下找注解类
       3.多个包可以使用,分割 例如: com.atguigu.controller,com.atguigu.service等一个包或者多个包
  -->


<!--  普通配置包扫描-->
  <context:component-scan base-package="edu.zjgs.ioc_01_Annotation"/>




<!--  -->
<!--&lt;!&ndash; 情况二：指定不扫描的组件   后期使用三层架构 ：位于不同的包-->
<!--controller在一个包edu.zjgs.controller下：webioc容器中-->
<!--service和Repository和其他 在一个包下   ：rootioc容器中-->
<!--解决方法：edu.zjgs中排除controller-->
<!--&ndash;&gt;-->
<!--  <context:component-scan base-package="edu.zjgs">-->

<!--    &lt;!&ndash; context:exclude-filter标签：指定排除规则 &ndash;&gt;-->
<!--    &lt;!&ndash; type属性：指定根据什么来进行排除，annotation取值表示根据注解来排除 &ndash;&gt;-->
<!--    &lt;!&ndash; expression属性：指定排除规则的表达式，对于注解来说指定全类名即可 &ndash;&gt;-->
<!--    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
<!--  </context:component-scan>-->

<!--  -->
<!--  -->
<!--  &lt;!&ndash; 情况四：仅扫描指定的组件 &ndash;&gt;-->
<!--  &lt;!&ndash; 仅扫描 = 关闭默认规则 + 追加规则 &ndash;&gt;-->
<!--  &lt;!&ndash; use-default-filters属性：取值false表示关闭默认扫描规则 &ndash;&gt;-->
<!--  <context:component-scan base-package="edu.zjgs" use-default-filters="false">-->

<!--    &lt;!&ndash; context:include-filter标签：指定在原有扫描规则的基础上追加的规则 &ndash;&gt;-->
<!--    <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
<!--  </context:component-scan>-->



</beans>


